.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;

	.header-infos {
		width: 30%;
		height: 75px;
		background: rgba(255, 255, 255, 1);
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(10px);
		display: flex;
		justify-content: center;
		align-items: center;

		.header-logo {
			width: 100%;
			height: max-content;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;

			img {
				width: 40px;
				height: 40px;
			}
		}

		.header-links {
			width: 100%;
			height: max-content;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			flex-grow: 2;

			.header-link {
				width: 100%;
				height: max-content;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: relative;

				img {
					width: 40px;
					height: 40px;
				}

				&.pokedex {
					img {
						width: 55px;
						height: 55px;
					}
				}

				.tooltip {
					position: absolute;
					left: 50%;
					top: 100%;
					transform: translate(-50%);
					background-color: rgba(0, 0, 0, 0.8);
					color: #fff;
					padding: 6px 12px;
					border-radius: 4px;
					white-space: nowrap;
					visibility: hidden;
					opacity: 0;
					transition:
						visibility 0s,
						opacity 0.3s ease;
				}

				a {
					&:hover {
						.tooltip {
							visibility: visible;
							opacity: 1;
							animation: tooltipAnimation 0.3s linear;
						}
					}
				}
			}
		}

		.header-logout {
			width: 100%;
			height: max-content;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
			position: relative;

			img {
				width: 40px;
				height: 40px;
			}

			.tooltip {
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%);
				background-color: rgba(0, 0, 0, 0.8);
				color: #fff;
				padding: 6px 12px;
				border-radius: 4px;
				white-space: nowrap;
				visibility: hidden;
				opacity: 0;
				transition:
					visibility 0s,
					opacity 0.3s ease;
			}

			&:hover {
				.tooltip {
					visibility: visible;
					opacity: 1;
					animation: tooltipAnimation 0.3s linear;
				}
			}
		}
	}
}

@keyframes tooltipAnimation {
	0%,
	100% {
		transform: translateY(10px) translateX(-50%);
	}
	50% {
		transform: translateY(-10px) translateX(-50%);
	}
}
