.login {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background-image: url('../public/images/pokefront-bg-login.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	overflow: hidden;

	.leaf {
		position: absolute;
		animation: falling 8s ease-in-out infinite;
		z-index: 10;
		img {
			width: 30px;
			height: 30px;
		}

		&:nth-child(1) {
			left: 5%;
			top: -5%;
			animation-delay: 0.5s;
		}
		&:nth-child(2) {
			left: 25%;
			top: -10%;
			animation-delay: 2.5s;
		}
		&:nth-child(3) {
			left: 45%;
			top: -15%;
			animation-delay: 3.5s;
		}
		&:nth-child(4) {
			left: 65%;
			top: -20%;
			animation-delay: 1s;
		}
		&:nth-child(5) {
			left: 85%;
			top: -25%;
			animation-delay: 2.5s;
		}
		&:nth-child(6) {
			left: 95%;
			top: -15%;
			animation-delay: 2.5s;
		}
		&:nth-child(7) {
			left: 55%;
			top: -15%;
			animation-delay: 1.5s;
		}
		&:nth-child(8) {
			left: 75%;
			top: -15%;
			animation-delay: 1s;
		}
	}

	.form-card {
		width: clamp(350px, 35%, 500px);
		height: auto;
		display: flex;
		align-items: center;
		flex-flow: column;
		margin: 2vh 0 0 0;
		background: rgba(255, 255, 255, 1);
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(10px);
		border: none;
		padding: 8px;

		.form-title {
			font-size: clamp(1.8em, 5vw, 2em);
			margin: 0 0 15px 0;
			flex-grow: 1;
		}

		.form-fields {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-grow: 2;
			padding: 10px;

			.form-field {
				width: 100%;
				max-width: 400px;
				margin-bottom: 20px;
				display: block;

				.form-label {
					width: max-content;
					position: absolute;
					top: -8px;
					left: 10px;
					background-color: #fff;
					font-size: clamp(0.8em, 2vw, 0.9em);
					padding: 0 10px 0 10px;
				}

				.input-container {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;

					input {
						width: 100%;
						padding: 10px;
						font-size: 16px;
						border: 1px solid #ccc;
						border-radius: 4px;
						font-family: 'Clash Display', sans-serif;
						border-color: #ccc;

						&:invalid {
							border-color: #ff4210;
						}

						&:-webkit-autofill,
						&:-webkit-autofill:hover {
							background-color: transparent;
							-webkit-box-shadow: 0 0 0px 1000px white inset;
						}

						&:-moz-placeholder {
							color: transparent;
						}
					}

					.eye-icon {
						height: 100%;
						position: absolute;
						top: 0;
						right: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						color: #686565;
					}
				}

				.field-error {
					color: #ff4210;
					font-size: clamp(0.9em, 2vw, 1em);
					margin-top: 5px;
				}
			}

			.field-api-error {
				display: block;
				color: #ff4210;
				font-size: clamp(0.9em, 2vw, 1em);
				margin-top: 20px;
				transition: 0.5 all;
			}

			button[type='submit'] {
				width: 100%;
				height: 45px;
				border: 1px solid #386abb;
				border-radius: 5px;
				background-color: #386abb;
				color: #fff;
				cursor: pointer;
				font-family: 'Clash Display', sans-serif;
				font-size: clamp(1em, 2vw, 1.2em);
			}
		}

		.form-links {
			width: 100%;
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: clamp(0.9em, 2vw, 1em);

			span {
				margin-right: 10px;
			}

			a {
				text-decoration: none;
				color: #000;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

@keyframes falling {
	0% {
		transform: translateY(-10%);
	}
	100% {
		transform: translateY(3220%);
	}
}
