.profil {
	width: 100%;
	height: auto;
	position: relative;

	.user-infos {
		width: clamp(350px, 80%, 100%);
		height: 250px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 100px 0 0 0;

		.user-img {
			width: auto;
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;

			img {
				width: 150px;
				height: 150px;
				border-radius: 15px;
			}
		}

		.user-details {
			width: auto;
			height: 100%;
			display: flex;
			justify-content: space-around;
			align-items: flex-start;
			flex-flow: column;
			flex-grow: 2;

			.user-account {
				width: 100%;
				.user-username {
					width: 100%;
					display: flex;
					h1 {
						font-size: 2em;
						font-weight: bold;
					}
				}

				span {
					font-size: 0.9em;
					color: #686565;
				}
			}

			ul {
				width: 100%;
				height: auto;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-grow: 1;

				li {
					width: 100%;
					height: 30px;
					display: flex;
					justify-content: flex-start;
					align-items: center;

					svg {
						width: 20px;
						height: 20px;
						color: #686565;
					}
					.user-email {
						font-size: 1.1em;
						padding: 0 0 0 15px;
					}
				}
			}
		}

		.user-edition {
			display: flex;
			justify-content: space-around;
			align-items: center;
			max-width: 300px;
			flex-grow: 1;

			button[type='submit'] {
				width: max-content;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 10px;
				border: none;
				border-radius: 8px;
				cursor: pointer;
				position: relative;

				span {
					margin: 0 0 0 15px;
				}
			}

			.user-delete {
				background-color: red;
				color: #fff;

				&::after {
					content: '';
					background-image: url('../public/images/pikachu_faché.png');
					background-size: cover;
					display: block;
					width: 100px;
					height: 100px;
					position: absolute;
					top: -50%;
					right: -200%;
					opacity: 0;
					transition: 0.5s all;
				}

				&:hover {
					&::after {
						right: -100%;
						opacity: 1;
					}
				}
			}

			.user-update {
				background-color: green;
				color: #fff;

				&::after {
					content: '';
					background-image: url('../public/images/pikachu_content.png');
					background-size: cover;
					display: block;
					width: 100px;
					height: 100px;
					position: absolute;
					top: -50%;
					right: 200%;
					opacity: 0;
					transition: 0.5s all;
				}

				&:hover {
					&::after {
						right: 100%;
						opacity: 1;
					}
				}
			}
		}
	}

	.user-pokedex {
		width: 80%;
		height: auto;
		margin: 50px auto;
		display: flex;
		flex-direction: column;

		.pokedex-title {
			width: 100%;
			height: auto;
			display: flex;
			align-items: center;

			h1 {
				font-size: 2em;
				font-weight: bold;
				margin: 0 15px 0 0;
			}

			.progress-bar {
				width: 500px;
				height: 20px;
				background-color: #f2f2f2;
				border-radius: 10px;
				overflow: hidden;
				position: relative;

				.progress {
					height: 100%;
					background-color: green;
				}

				.completion-text {
					position: absolute;
					width: max-content;
					height: 100%;
					top: 0;
					right: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.pokedex-cards {
			width: 100%;
			height: max-content;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			gap: 15px;
			margin: 50px 0 0 0;

			.pokedex-card {
				width: 100%;
				height: auto;
				padding: 10px;
				border: 1px solid #686565;
				border-radius: 10px;

				.card-id {
					width: 100%;
					display: flex;
					justify-content: flex-end;
					color: #666666;
				}

				.card-sprite {
					width: 100%;
					height: max-content;
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						width: 150px;
						height: 150px;
						border-radius: 10px;
					}
				}

				.card-name {
					width: 100%;
					height: max-content;
					display: flex;
					justify-content: center;
					align-items: center;

					h1 {
						font-size: 1.3em;
						font-weight: bold;
					}
				}
			}
		}
	}
}
