.profil {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url('../public/images/poke-camping.jpg');
	background-size: cover;
	background-repeat: repeat-y;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;

	.blancoton {
		position: absolute;
		animation: falling 8s ease-in-out infinite;

		img {
			width: 60px;
			height: 60px;
		}

		&:nth-child(1) {
			left: 5%;
			top: -5%;
			animation-delay: 0.25s;
		}
		&:nth-child(2) {
			left: 15%;
			top: -10%;
			animation-delay: 1.25s;
		}
		&:nth-child(3) {
			left: 35%;
			top: -15%;
			animation-delay: 1.75s;
		}
		&:nth-child(4) {
			left: 55%;
			top: -20%;
			animation-delay: 0.5s;
		}
		&:nth-child(5) {
			left: 75%;
			top: -25%;
			animation-delay: 1.25s;
		}
		&:nth-child(6) {
			left: 95%;
			top: -15%;
			animation-delay: 1.25s;
		}
		&:nth-child(7) {
			left: 25%;
			top: -15%;
			animation-delay: 0.75s;
		}
		&:nth-child(8) {
			left: 75%;
			top: -15%;
			animation-delay: 0.5s;
		}
	}

	.profil-title {
		margin: 125px 0 0 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.profil-infos {
		width: 80%;
		height: max-content;
		background: rgba(255, 255, 255, 0.85);
		backdrop-filter: blur(10px);
		margin: 125px 0 0 0;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;

		.user-infos-container {
			width: 100%;
			.user-infos {
				width: clamp(350px, 80%, 100%);
				height: 250px;
				margin: 0 auto;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 100px 0 0 0;

				.user-img {
					width: auto;
					height: auto;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-grow: 1;

					img {
						width: 150px;
						height: 150px;
						border-radius: 15px;
					}
				}

				.user-details {
					width: auto;
					height: 100%;
					display: flex;
					justify-content: space-around;
					align-items: flex-start;
					flex-flow: column;
					flex-grow: 2;

					.user-account {
						width: 100%;
						.user-username {
							width: 100%;
							display: flex;
							h1 {
								font-size: 2em;
								font-weight: bold;
							}
						}

						span {
							font-size: 0.9em;
							color: #232323;
						}
					}

					ul {
						width: 100%;
						height: auto;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						flex-grow: 1;

						li {
							width: 100%;
							height: 30px;
							display: flex;
							justify-content: flex-start;
							align-items: center;

							svg {
								width: 20px;
								height: 20px;
								color: #232323;
							}
							.user-email {
								font-size: 1.1em;
								padding: 0 0 0 15px;
							}
						}
					}
				}

				.user-edition {
					display: flex;
					justify-content: space-around;
					align-items: center;
					max-width: 300px;
					flex-grow: 1;

					button[type='submit'] {
						width: max-content;
						height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 10px;
						border: none;
						border-radius: 8px;
						cursor: pointer;
						position: relative;
						font-family: 'Clash Display', sans-serif;

						span {
							margin: 0 0 0 15px;
						}
					}

					.user-delete {
						background-color: red;
						color: #fff;

						&::after {
							content: '';
							background-image: url('../public/images/pikachu_faché.png');
							background-size: cover;
							display: block;
							width: 100px;
							height: 100px;
							position: absolute;
							top: -50%;
							right: -200%;
							opacity: 0;
							transition: 0.5s all;
						}

						&:hover {
							&::after {
								right: -100%;
								opacity: 1;
							}
						}
					}

					.user-update {
						background-color: green;
						color: #fff;

						&::after {
							content: '';
							background-image: url('../public/images/pikachu_content.png');
							background-size: cover;
							display: block;
							width: 100px;
							height: 100px;
							position: absolute;
							top: -50%;
							right: 200%;
							opacity: 0;
							transition: 0.5s all;
						}

						&:hover {
							&::after {
								right: 100%;
								opacity: 1;
							}
						}
					}
				}

				.popup {
					/* Styles pour la pop-up (en position fixe pour l'afficher au centre de l'écran) */
					// position: fixed;
					// width: 100%;
					// height: 100%;
					// background-color: rgba(0, 0, 0, 0.5);
					// display: flex;
					// justify-content: center;
					// align-items: center;
					// z-index: 2;

					//width: clamp(350px, 35%, 500px);
					height: auto;
					display: flex;
					align-items: center;
					flex-flow: column;
					background: rgba(255, 255, 255, 1);
					border-radius: 10px;
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
					border: none;
					padding: 8px;

					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					justify-content: center;
					background-color: rgba(0, 0, 0, 0.5);
					z-index: 2;

					.form-title {
						font-size: clamp(1.8em, 5vw, 2em);
						margin: 0 0 15px 0;
						flex-grow: 1;
					}

					.popup-content {
						background-color: #fff;
						padding: 20px;
						border-radius: 8px;
						box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

						display: flex;
						flex-direction: column;
						align-items: center;

						.form-group {
							width: 100%;
							max-width: 400px;
							margin-bottom: 20px;
							display: block;

							.form-label {
								width: max-content;
								// position: absolute;
								// top: -8px;
								// left: 10px;
								background-color: #fff;
								font-size: clamp(0.8em, 2vw, 0.9em);
								// padding: 0 10px 0 10px;
							}

							input {
								width: 100%;
								padding: 10px;
								font-size: 16px;
								border: 1px solid #ccc;
								border-radius: 4px;
								font-family: 'Clash Display', sans-serif;
								border-color: #ccc;
							}
						}

						button[type='submit'] {
							width: 100%;
							height: 45px;
							border: 1px solid #386abb;
							border-radius: 5px;
							background-color: #386abb;
							color: #fff;
							cursor: pointer;
							font-family: 'Clash Display', sans-serif;
							font-size: clamp(1em, 2vw, 1.2em);
						}

						.submit-button:hover {
							background-color: #4e81c3; /* Nouvelle couleur de fond au survol */
						}

						.cancel-button {
							width: 100%;
							height: 35px;
							border: 1px solid #9e0b0b;
							margin-top: 20px;
							border-radius: 5px;
							background-color: #9e0b0b;
							color: #fff;
							cursor: pointer;
							font-family: 'Clash Display', sans-serif;
							font-size: clamp(1em, 2vw, 1.2em);
						}

						.cancel-button:hover {
							background-color: #d92727; /* Nouvelle couleur de fond au survol */
						}
					}
				}
			}
		}
	}

	.user-pokedex {
		width: 80%;
		height: auto;
		margin: 50px auto;
		display: flex;
		flex-direction: column;

		.pokedex-title {
			width: 100%;
			height: auto;
			display: flex;
			align-items: center;

			h1 {
				font-size: 2em;
				font-weight: bold;
				margin: 0 15px 0 0;
			}

			.progress-bar {
				width: 400px;
				height: 20px;
				background-color: #e0e0e0;
				border-radius: 10px;
				overflow: hidden;
				position: relative;

				.progress {
					height: 100%;
					background-image: linear-gradient(
						to right,
						#94e189,
						#87dc7a,
						#7ad76b,
						#6dc35c,
						#5da935,
						#55a22e,
						#4b9227,
						#40811f,
						#328e22
					);
				}

				.completion-text {
					position: absolute;
					width: max-content;
					height: 100%;
					top: 0;
					right: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 0.9em;
				}
			}
		}

		.pokedex-cards {
			width: 100%;
			height: max-content;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			margin: 50px 0 0 0;

			.pokedex-card {
				width: 60%;
				height: 150px;
				display: flex;
				flex-direction: column;
				padding: 10px;
				border-radius: 10px;
				box-sizing: content-box;

				.card-id {
					width: 100%;
					display: flex;
					justify-content: flex-end;
					font-size: 0.9em;
					color: #000;
				}

				.card-sprite {
					width: 100%;
					height: max-content;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						width: 100px;
						height: 100px;
						border-radius: 10px;
					}
				}

				.card-name {
					width: 100%;
					height: max-content;
					display: flex;
					justify-content: center;
					align-items: center;

					h1 {
						font-size: 1.1em;

						color: #000;
					}
				}
			}
		}
	}
}

@keyframes falling {
	0% {
		transform: translateY(-10%);
	}
	100% {
		transform: translateY(3220%);
	}
}
