.profileContainer {
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	border: 2px solid #ccc;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

	.trainerName .trainerEmail {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.progressBar {
		width: 100%;
		background-color: #ccc;
		height: 20px;
		border-radius: 10px;
		overflow: hidden;

		.progress {
			height: 100%;
			background-color: #4caf50;
		}
	}

	.progressLabel {
		font-size: 14px;
		margin-top: 10px;
		color: #666;
	}
}

.pokemonList {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	margin-top: 50px;

	.pokemonCard {
		background-color: #f2f2f2;
		padding: 10px;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		text-align: center;
		width: 120px;
		border: solid 1px;

		.pokemonName {
			font-weight: bold;
			color: #333;
		}
	}
}
